# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
__pycache__

.serverless

node_modules
.vscode
.env

private_by_year_by_week.csv
private_by_district_name.csv

regular_by_year_by_week_abweisungmangelsmasse.csv
regular_by_year_by_week_verfahreneroeffnet.csv
regular_by_year_by_week_sicherungsmassnahmen.csv

regular_by_week_abweisungmangelsmasse.csv
regular_by_week_verfahreneroeffnet.csv
regular_by_week_sicherungsmassnahmen.csv
regular_by_week_merged.csv

regular_by_district_name_abweisungmangelsmasse.csv
regular_by_district_name_verfahreneroeffnet.csv
regular_by_district_name_sicherungsmassnahmen.csv
regular_by_district_name_merged.csv
